- var seo_title = 'Daniel Alvarez Vera'
- var seo_description = 'Just a simple presentation card'
- var seo_url = 'https://dalvarez.dev'
- var seo_image = 'https://public.dalvarez.dev/portfolio-profile_4_256.jpeg'

- var occupation = 'Software Developer'

<!DOCTYPE html>
html(lang="en", class="h-full p-2 lg:p-4")
  head
    title #{seo_title}

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=4.0")

    include partials/meta.pug
    include partials/link.pug

    link(rel="stylesheet", href="./app.css")

  body(class="shadow-xl w-full h-full rounded flex items-center")
    include partials/svg.pug

    main(class="about sm:grid-cols-2 grid container m-auto h-full")
      div(class="grid grid-rows-3")
        div(class="text-left flex items-center justify-center")
          div(class="text-center")
            p(class="about__greeting") Hi,
            p I am

        div(class="text-center flex flex-col items-center justify-center")
          div(class="text-center")
            h1(class="about__name") #{seo_title}
            h2(class="about__occupation font-thin") #{occupation}

        include partials/social.pug

      div(class="hidden flex-1 relative sm:flex flex-col items-center justify-center")
        div(class="z-10 opacity-50 absolute w-64 h-64 rounded-full bg-gradient-to-t from-blue-500 to-purple-500")
        picture(class="absolute")
          source(srcset="https://public.dalvarez.dev/portfolio-profile_3_256.webp" type="image/webp")
          img(class="w-64 h-64 object-cover rounded-full" loading="lazy" src="https://public.dalvarez.dev/portfolio-profile_4_256.jpeg" alt=`${seo_title} profile photo`)